---
layout: default
title: Développeur Web Front End Strasbourg
---
<div class="site__altbg txtcenter">
  <div class="wrapper">
    <div class="site__alert site__alert--info">
      <div class="site__alert-indicator"></div><p>Je suis actuellement développeur Ruby on Rails chez <a href="http://www.ideematic.com" target="_blank" rel="noopener">Idéematic</a>.</p>
    </div>
    <h2>Bienvenue !</h2>
    <p class="site__lead js-fade-in-out">
      Jeune développeur orienté front-end, j'aime construire des interfaces efficaces et ergonomiques.
    </p>
    <a class="button button--primary" href="{{ '/about' | prepend: site.baseurl }}"><span>Découvrir mon parcours</span></a>
  </div>
</div>
<section id="portfolio" class="">
  <div class="portfolio__container">
    <svg id="Calque_1" class="portfolio__overlay" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1596 1000" preserveAspectRatio="xMidYMid slice"><title>portfolio-mask2</title><path d="M1201.29,811.55l-2.21-2.21c-38.89-38.89-38.89-102.53,0-141.42L1596,271V0H1296.08a99.84,99.84,0,0,1-8.15,9.22L885.16,412c-38.89,38.89-102.53,38.89-141.42,0l-2.21-2.21c-38.89-38.89-38.89-102.53,0-141.42L1009.89,0H0V1000H446.21L976.78,469.43c38.89-38.89,102.53-38.89,141.42,0l2.21,2.21c38.89,38.89,38.89,102.53,0,141.42L733.48,1000h564.81l98.5-98.5c38.89-38.89,102.53-38.89,141.42,0l2.21,2.21A100.21,100.21,0,0,1,1566.3,1000H1596V558.25L1342.71,811.55C1303.82,850.44,1240.18,850.44,1201.29,811.55Z" style="fill:#2b2b2b"/></svg>
    <div class="portfolio__image"></div>
    <div class="portfolio__content">
      <div class="wrapper">
        <h2>Mes dernières réalisations</h2>
        <div class="grid-2-small-1">
          <ul class="portfolio__list">
            {% if site.portfolio %}
              {% assign items = (site.portfolio | sort: 'date') | reverse %}
              {% for portfolio_item in items limit:4 %}
                <li class="portfolio__item wow fade-in" data-wow-offset="-80" data-img="{{ portfolio_item.cover }}">
                  <a  class="portfolio__link" href="{{ portfolio_item.url | prepend: site.baseurl }}">{{ portfolio_item.title }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
          <ul class="portfolio__list">
            {% if site.portfolio %}
              {% for portfolio_item in items offset:4 limit: 4 %}
                <li class="portfolio__item wow fade-in" data-wow-offset="-80" data-img="{{ portfolio_item.cover }}">
                  <a  class="portfolio__link" href="{{ portfolio_item.url | prepend: site.baseurl }}">{{ portfolio_item.title}}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonials">
  <div class="site__altbg">
    <div class="wrapper">
      <h2>Ils m'ont fait confiance</h2>
      <div class="testimonial__item txtcenter">
        <picture class="testimonial__img">
          <source srcset="{{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@1x.webp 1x, {{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@2x.webp 2x" type="image/webp">
    			<source srcset="{{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@1x.jpg 1x, {{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@2x.jpg 2x">
    			<img src="{{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@1x.png" alt="Gilles Noeppel, fondateur d'Almédia">
        </picture>
        <blockquote class="testimonial__quote">Ce que j'ai personnellement le plus apprécié, c'est l'autonomie dont a fait preuve Joël lors de son contrat, afin de mener à bien le développement d'une application interactive basée sur des technologies web.</blockquote>
        <p class="testimonial__info"><strong>Gilles Noeppel</strong> / Fondateur d'Almédia</p>
      </div>
    </div>
  </div>
</section>
<section id="cv-download" class="site__transition site__transition--cv-download">
  <div class="site__transition-icon wow cv-icon-animation">
  <svg id="cv-icon" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.55 100.77">
    <title>cv-icon</title>
    <g id="page">
      <rect width="72.95" height="100.77" style="fill:#fff"/>
      <rect x="9.39" y="24.22" width="54.17" height="2.44" style="fill:#949393"/>
      <rect x="9.39" y="33.85" width="54.17" height="2.44" style="fill:#adacac"/>
      <rect x="9.39" y="43.48" width="54.17" height="2.44" style="fill:#c2c1c1"/>
      <rect x="9.39" y="53.11" width="54.17" height="2.44" style="fill:#c2c1c1"/>
      <rect x="9.39" y="62.74" width="34.17" height="2.44" style="fill:#adacac"/>
    </g>
    <g id="magnifying-glass">
      <rect x="76.92" y="47.09" width="2.41" height="5.68" transform="translate(-12.42 69.87) rotate(-45)" style="fill:#fc5f5f"/>
      <path d="M91.16,58.47c5.58,5.58,4.7,6.71,3.46,8s-2.37,2.13-8-3.46-10-10.23-7.86-12.36S85.58,52.88,91.16,58.47Z" style="fill:#fff"/>
      <path d="M49.39,21.19a19.9,19.9,0,1,0,28.14,0A19.9,19.9,0,0,0,49.39,21.19ZM74.28,46.08a15.3,15.3,0,1,1,0-21.63A15.3,15.3,0,0,1,74.28,46.08Z" style="fill:#fc5f5f"/>
      <g id="magnifying-glass-shadow" style="opacity:0.24">
        <rect x="76.92" y="47.78" width="2.41" height="5.68" transform="translate(-12.91 70.07) rotate(-45)" style="fill:#565656"/>
        <path d="M91.16,59.16c5.58,5.58,4.7,6.71,3.46,8s-2.37,2.13-8-3.46-10-10.23-7.86-12.36S85.58,53.57,91.16,59.16Z" style="fill:#565656"/>
        <path d="M49.39,21.88a19.9,19.9,0,1,0,28.14,0A19.9,19.9,0,0,0,49.39,21.88ZM74.28,46.77a15.3,15.3,0,1,1,0-21.63A15.3,15.3,0,0,1,74.28,46.77Z" style="fill:#565656"/>
      </g>
    </g>
  </svg>
  </div>
  <div class="wrapper txtcenter">
    <a class="button button--ghost" href="{{ '/downloads/developpeur-web-front-end-strasbourg-joel-mercier.pdf' | prepend: site.baseurl }}" target="_blank"><span>Télécharger mon CV</span></a>
    <p class="button__caption">PDF • 947Ko</p>
  </div>
</section>
<section id="blog" class="blog__container">
  <div class="wrapper">
    <h2>Mes derniers articles</h2>
    <div class="blog__content">
      <div class="grid-2-small-1">
        {% for post in site.posts limit: 1 %}
        {% if post.cover-img %}
        <article class="blog__item blog__item--full wow fade-in" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ post.cover-img | prepend: "/img/blog/" | prepend: site.baseurl }}') no-repeat center center;">
          <time class="blog__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          <h3 class="blog__title">{{ post.title }}</h3>
          <div class="blog__excerpt">
            <p class="blog__lead">{{ post.lead }}</p>
            <span class="blog__dots">
              <span class="blog__dot">&nbsp;</span>
              <span class="blog__dot">&nbsp;</span>
              <span class="blog__dot">&nbsp;</span>
            </span>
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}" class="blog__link">&nbsp;</a>
        </article>
        {% else %}
        <article class="blog__item blog__item--full wow fade-in" style="background-size: initial!important;">
          <time class="blog__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          <h3 class="blog__title">{{ post.title }}</h3>
          <div class="blog__excerpt">
            <p class="blog__lead">{{ post.lead }}</p>
            <span class="blog__dots">
              <span class="blog__dot">&nbsp;</span>
              <span class="blog__dot">&nbsp;</span>
              <span class="blog__dot">&nbsp;</span>
            </span>
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}" class="blog__link">&nbsp;</a>
        </article>
        {% endif %}
        {% endfor %}
        <div>
          {% for post in site.posts offset:1 limit: 2 %}
          <article class="blog__item wow fade-in">
            <time class="blog__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
            <h3 class="blog__title">{{ post.title }}</h3>
            <div class="blog__excerpt">
              <p class="blog__lead">{{ post.lead }}</p>
              <span class="blog__dots">
                <span class="blog__dot">&nbsp;</span>
                <span class="blog__dot">&nbsp;</span>
                <span class="blog__dot">&nbsp;</span>
              </span>
            </div>
            <a href="{{ post.url | prepend: site.baseurl }}" class="blog__link">&nbsp;</a>
          </article>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="txtcenter">
        <a class="button button--primary" href="{{ '/blog' | prepend: site.baseurl }}"><span>Parcourir mon blog</span></a>
    </div>
  </div>
</section>
