---
layout: default
title: Joel Mercier développeur web
---
<div class="site__altbg txtcenter">
  <div class="wrapper">
    <h2>Bienvenue !</h2>
    <p class="site__lead wow fade-in">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, facere corporis voluptatem aspernatur repellendus facilis, earum.</p>
    <a class="button button--primary" href="{{ '/about' | prepend: site.baseurl }}"><span>Découvrir mes compétences</span></a>
  </div>
</div>
<section id="portfolio" class="">
  <div class="portfolio__container">
    <svg id="js-projects--pattern" class="portfolio__overlay" viewBox="0 0 1596 1000" preserveAspectRatio="xMidYMid slice">
    	<defs>
    		<mask id="portfolioMask">
    			<rect width="1596" height="1000" fill="#fff"></rect>
    			<path class="js-shape js-shape--top" d="M523.602,499.965c25.555,0,51.004-9.793,70.328-29.062l549.008-549.087
    				c38.752-38.829,38.752-101.904,0-140.734c-38.855-38.855-101.801-38.855-140.76,0L453.273,329.984
    				c-39.012,38.961-39.012,101.957,0,140.918C472.648,490.172,498.203,499.965,523.602,499.965z"></path>
    			<path class="js-shape js-shape--bottom" d="M1002.125,529.158l-548.904,549.035c-38.959,38.934-38.959,101.879,0,140.709
    				c19.402,19.453,44.852,29.168,70.381,29.168c25.424,0,50.953-9.715,70.406-29.168l548.824-548.904
    				c38.883-38.961,38.883-101.904,0-140.84C1103.924,490.252,1041.006,490.252,1002.125,529.158z"></path>
    		</mask>
    	</defs>
    	<rect id="js-projects--mask" width="1596" height="1000" style="mask:url(#portfolioMask)"></rect>
    </svg>
    <div class="portfolio__image"></div>
    <div class="portfolio__content">
      <div class="wrapper">
        <h2>Mes dernières réalisations</h2>
        <div class="grid-2-small-1">
          <ul class="portfolio__list">
            {% if site.portfolio %}
              {% for portfolio_item in site.portfolio | limit: 4 %}
                <li class="portfolio__item wow fade-in" data-img="img/{{ portfolio_item.cover}}">
                  <a  class="portfolio__link" href="{{ portfolio_item.url | prepend: site.baseurl }}">{{ portfolio_item.title}}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
          <ul class="portfolio__list">
            {% if site.portfolio %}
              {% for portfolio_item in site.portfolio | offset:4 limit: 4 %}
                <li class="portfolio__item wow fade-in" data-img="img/{{ portfolio_item.cover}}">
                  <a  class="portfolio__link" href="{{ portfolio_item.url | prepend: site.baseurl }}">{{ portfolio_item.title}}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonials">
  <div class="site__altbg">
    <div class="wrapper">
      <h2>Ils m'ont fait confiance</h2>
      <div class="testimonial__item txtcenter">
        <picture class="testimonial__img">
          <source srcset="{{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@1x.webp 1x, {{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@2x.webp 2x" type="image/webp">
    			<source srcset="{{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@1x.jpg 1x, {{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@2x.jpg 2x">
    			<img src="{{ "gilles-noeppel" | prepend: "/img/testimonials/" | prepend: site.baseurl }}@1x.png" alt="Gilles Noeppel, fondateur d'Almédia">
        </picture>
        <blockquote class="testimonial__quote">Ce que j'ai personnellement le plus apprécié, c'est l'autonomie dont a fait preuve Joël lors de son contrat, afin de mener à bien le développement d'une application interactive basée sur des technologies web.</blockquote>
        <p class="testimonial__info"><strong>Gilles Noeppel</strong> / Fondateur d'Almédia</p>
      </div>
    </div>
  </div>
</section>
<section id="cv-download" class="site__transition site__transition--cv-download">
  <div class="site__transition__icon wow cv-icon-animation">
  <svg id="cv-icon" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.55 100.77">
    <title>cv-icon</title>
    <g id="page">
      <rect width="72.95" height="100.77" style="fill:#fff"/>
      <rect x="9.39" y="24.22" width="54.17" height="2.44" style="fill:#949393"/>
      <rect x="9.39" y="33.85" width="54.17" height="2.44" style="fill:#adacac"/>
      <rect x="9.39" y="43.48" width="54.17" height="2.44" style="fill:#c2c1c1"/>
      <rect x="9.39" y="53.11" width="54.17" height="2.44" style="fill:#c2c1c1"/>
      <rect x="9.39" y="62.74" width="34.17" height="2.44" style="fill:#adacac"/>
    </g>
    <g id="magnifying-glass">
      <rect x="76.92" y="47.09" width="2.41" height="5.68" transform="translate(-12.42 69.87) rotate(-45)" style="fill:#fc5f5f"/>
      <path d="M91.16,58.47c5.58,5.58,4.7,6.71,3.46,8s-2.37,2.13-8-3.46-10-10.23-7.86-12.36S85.58,52.88,91.16,58.47Z" style="fill:#fff"/>
      <path d="M49.39,21.19a19.9,19.9,0,1,0,28.14,0A19.9,19.9,0,0,0,49.39,21.19ZM74.28,46.08a15.3,15.3,0,1,1,0-21.63A15.3,15.3,0,0,1,74.28,46.08Z" style="fill:#fc5f5f"/>
      <g id="magnifying-glass-shadow" style="opacity:0.24">
        <rect x="76.92" y="47.78" width="2.41" height="5.68" transform="translate(-12.91 70.07) rotate(-45)" style="fill:#565656"/>
        <path d="M91.16,59.16c5.58,5.58,4.7,6.71,3.46,8s-2.37,2.13-8-3.46-10-10.23-7.86-12.36S85.58,53.57,91.16,59.16Z" style="fill:#565656"/>
        <path d="M49.39,21.88a19.9,19.9,0,1,0,28.14,0A19.9,19.9,0,0,0,49.39,21.88ZM74.28,46.77a15.3,15.3,0,1,1,0-21.63A15.3,15.3,0,0,1,74.28,46.77Z" style="fill:#565656"/>
      </g>
    </g>
  </svg>
  </div>
  <div class="wrapper txtcenter">
    <a class="button button--ghost" href="{{ '/downloads/test.pdf' | prepend: site.baseurl }}" target="_blank"><span>Télécharger mon CV</span></a>
    <p class="button__caption">PDF • 1,7Mo • cv-mercier.pdf</p>
  </div>
</section>
<section id="blog" class="blog__container">
  <div class="wrapper">
    <h2>Mes derniers articles</h2>
    <div class="blog__content">
      <div class="grid-2-small-1">
        {% for post in site.posts | limit: 1 %}
        <article class="blog__item blog__item--full wow fade-in" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ post.featured-img | prepend: "/img/blog/" | prepend: site.baseurl }}') no-repeat center center;">
          <time class="blog__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          <h3 class="blog__title">{{ post.title }}</h3>
          <div class="blog__excerpt">
            <p class="blog__lead">{{ post.lead }}</p>
            <span class="blog__dots">
              <span class="blog__dot">&nbsp;</span>
              <span class="blog__dot">&nbsp;</span>
              <span class="blog__dot">&nbsp;</span>
            </span>
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}" class="blog__link">&nbsp;</a>
        </article>
        {% endfor %}
        <div>
          {% for post in site.posts | offset:1 limit: 2 %}
          <article class="blog__item wow fade-in">
            <time class="blog__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
            <h3 class="blog__title">{{ post.title }}</h3>
            <div class="blog__excerpt">
              <p class="blog__lead">{{ post.lead }}</p>
              <span class="blog__dots">
                <span class="blog__dot">&nbsp;</span>
                <span class="blog__dot">&nbsp;</span>
                <span class="blog__dot">&nbsp;</span>
              </span>
            </div>
            <a href="{{ post.url | prepend: site.baseurl }}" class="blog__link">&nbsp;</a>
          </article>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="txtcenter">
        <a class="button button--primary" href="{{ '/blog' | prepend: site.baseurl }}"><span>Parcourir mon blog</span></a>
    </div>
  </div>
</section>
