<footer class="site__footer">

  <div class="wrapper">



  </div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="{{ "/js/barba.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/typeit.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/smoothScroll.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/main.min.js" | prepend: site.baseurl }}"></script>

</footer>
