<footer class="footer__container">
  <div class="footer__contact-form-container">
    <div class="wrapper">
      <h2>Mon profil vous intéresse ? N'hésitez pas à me contacter !</h2>
      <form id="contactForm" class="footer__contact-form" action="http://www.jomercier.com/contactForm.php" method="post">
        <ul class="footer__contact-form-list">
          <li class="footer__contact-form-item footer__contact-form-item--current">
            <label class="footer__contact-form-label" for="contactName">Votre nom</label>
            <input type="text" name="contactName" id="contactName" placeholder="Ex: John Doe" required>
          </li>
          <li class="footer__contact-form-item">
            <label class="footer__contact-form-label" for="contactEmail">Votre email</label>
            <input type="email" name="contactEmail" id="contactEmail" placeholder="Ex: john@doe.fr" required>
          </li>
          <li class="footer__contact-form-item">
            <label class="footer__contact-form-label" for="contactMessage">Votre message</label>
            <textarea name="contactMessage" id="contactMessage" placeholder="Votre message" required></textarea>
          </li>
        </ul>
        <button class="button button--primary" type="submit">Envoyer</button>
        <div class="footer__contact-form-controls">
          <div class="footer__contact-form-next">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.635 32.635" xml:space="preserve">
              <g>
              	<path d="M32.135,16.817H0.5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h31.635c0.276,0,0.5,0.224,0.5,0.5   S32.411,16.817,32.135,16.817z" fill="#FFFFFF"/>
              	<path d="M19.598,29.353c-0.128,0-0.256-0.049-0.354-0.146c-0.195-0.195-0.195-0.512,0-0.707l12.184-12.184L19.244,4.136   c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0l12.537,12.533c0.094,0.094,0.146,0.221,0.146,0.354   s-0.053,0.26-0.146,0.354L19.951,29.206C19.854,29.304,19.726,29.353,19.598,29.353z" fill="#FFFFFF"/>
              </g>
            </svg>
          </div>
          <div class="footer__contact-form-progress"></div>
          <span class="footer__contact-form-error"></span>
          <span class="footer__contact-form-steps"></span>
        </div>
        <span class="footer__contact-form-final"></span>
      </form>
    </div>
  </div>
  <div class="wrapper">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima unde tempora temporibus animi ab totam error pariatur voluptatem accusamus harum assumenda quis, accusantium. Quaerat illo nemo veniam, saepe ex libero!</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script>
    // Picture element HTML5 shiv
    document.createElement( "picture" );
  </script>
  <!-- <script src="{{ "/js/barba.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/picturefill.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/typeit.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/skrollr.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/main.min.js" | prepend: site.baseurl }}"></script> -->
  <script src="{{ "/js/bundle.min.js" | prepend: site.baseurl }}"></script>
</footer>
