<header class="header">
  <nav class="nav nav--transparent">
    <div class="wrapper">
      <!-- <a class="nav__title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
      <ul class="nav__list">
        {% assign current = page.url | downcase | split: '/' %}
        <li class="nav__item {% if current[1] == 'about' %}nav__item--current{% endif %}"><a class="nav__link" href="{{ '/about/' | prepend: site.baseurl }}">A propos</a></li>
        <li class="nav__item {% if current[1] == 'portfolio' %}nav__item--current{% endif %}"><a class="nav__link" href="{{ '/#portfolio' | prepend: site.baseurl }}">Portfolio</a></li>
        <li class="nav__item {% if current[1] == 'blog' %}nav__item--current{% endif %}"><a class="nav__link" href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a></li>
      </ul>
    </div>
  </nav>

  {% if page.url == '/' %}
  <div class="header__hero header__hero--full">
    <h1 class="header__title type-it"></h1>
    <div class="header__img animated fade-in-up"></div>
    {% for i in (1..16) %}
      <div class="header__bubble header__bubble--small" id="bubble{{ i }}"></div>
    {% endfor %}
    {% for i in (17..24) %}
      <div class="header__bubble header__bubble--medium" id="bubble{{ i }}"></div>
    {% endfor %}
    {% for i in (25..26) %}
      <div class="header__bubble header__bubble--large" id="bubble{{ i }}"></div>
    {% endfor %}
  </div>
  {% else %}
  <div class="header__hero">
    <h1 class="header__title animated fade-in">{% if page.page-name %}{{ page.page-name }}{% else %}{{ page.title }}{% endif %}</h1>
    {% for i in (1..16) %}
      <div class="header__bubble header__bubble--small" id="bubble{{ i }}"></div>
    {% endfor %}
    {% for i in (17..24) %}
      <div class="header__bubble header__bubble--medium" id="bubble{{ i }}"></div>
    {% endfor %}
    {% for i in (25..26) %}
      <div class="header__bubble header__bubble--large" id="bubble{{ i }}"></div>
    {% endfor %}
  </div>
  {% endif %}
</header>
