.resume__container {
  margin: $medium-value 0;
}

.resume__list {
  list-style: none;
  border-left: 2px solid $alpha-color;

  @include media("<small-screen") {
    padding-left: 0;
  }
}

.resume__item {
  padding: $medium-value;
  margin: $medium-plus-value 0;

  &:last-child {
    margin-bottom: 0;
  }

  @include media("<small-screen") {
    padding: 2rem 0 2rem 2rem;
  }
}

.resume__position, .resume__date {
  color: $grey-color;
}

.resume__position {
  margin-bottom: $tiny-value;
}

.resume__content {

  & p {
    margin-bottom: $medium-value;
  }
}

.resume__date {
  font-weight: 300;
  font-style: italic;
}

.resume__title {
  font-size: $h1-size;
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $alpha-color;
  margin-bottom: $small-value;
}

@-moz-document url-prefix() {
  .resume__title {
    background: none;
  }
}

.hobbies__container {
  margin: $medium-plus-value 0;
  background: url('../img/noisy-texture.png'), $complementary-gradient;

  & h2 {
    color: #fff;
  }
}

.hobbies__item {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: $medium-plus-value;
  will-change: transform, box-shadow;
  background: $base-background;
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: grayscale(0%);
  }

  &.hobbies__item--music {

    & #vynil-arm {
      transform-origin: top right;
      transform: rotate(-45deg);
      transition: transform 0.5s ease-in-out;
    }
    &:hover {

      & #vynil {
        animation: vynil-animation 1s 0.5s infinite linear;
        transform-origin: center;
        will-change: transform;
      }

      & #vynil-arm {
        transform: rotate(0);
        will-change: transform;
      }
    }
  }

  &.hobbies__item--technology {

    &:hover {

      & #stars {
        animation: stars-animation 1s infinite linear;
        will-change: transform;
      }

      & #rocket {
        animation: rocket-animation 3s infinite linear;
        transform-origin: center center;
        will-change: transform;
      }

      & #rocket-fire {
        animation: rocket-fire-animation 0.6s infinite none;
      }
    }
  }

  &.hobbies__item--games {

    &:hover {

      #redbtn1 {
        animation: red-button-press 1s infinite linear;
      }
      #redbtn2 {
        animation: red-button-press 1s 0.5s infinite linear;
      }
      #redbtn3 {
        animation: red-button-press 1s 1s infinite linear;
      }

      #bluebtn1 {
        animation: blue-button-press 1s infinite linear;
      }
      #bluebtn2 {
        animation: blue-button-press 1s 0.5s infinite linear;
      }
      #bluebtn3 {
        animation: blue-button-press 1s 1s infinite linear;
      }

      #whitebtn1 {
        animation: white-button-press 1s infinite linear;
      }
      #whitebtn2 {
        animation: white-button-press 1s 0.5s infinite linear;
      }
      #whitebtn3 {
        animation: white-button-press 1s 1s infinite linear;
      }
      #whitebtn4 {
        animation: white-button-press 1s 1.5s infinite linear;
      }
    }
  }

  & h3 {
    text-align: center;
  }

  @include media("<small-screen") {
    margin-bottom: $medium-value;
  }
}

.hobbies__icon {
  width: 70%;
  margin: auto;
}

@keyframes vynil-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes stars-animation {
  0% {
    transform: translate(-100%, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rocket-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: translate(50%, -50%) scale(0.5);
  }
}

@keyframes rocket-fire-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes red-button-press {
  0% {
    fill: $alpha-color;
  }
  100% {
    fill: darken($alpha-color, 50%);
  }
}

@keyframes blue-button-press {
  0% {
    fill: $beta-color;
  }
  100% {
    fill: darken($beta-color, 50%);
  }
}

@keyframes white-button-press {
  0% {
    fill: #fff;
  }
  100% {
    fill: darken(#fff, 50%);
  }
}



.skills__container {
  position: relative;
}

.skills__caption {
  width: 100%;
  margin: $medium-value 0;
  padding-left: 0;
  text-align: center;
  font-size: $h6-size;
  color: $grey-color;
  list-style: none;

  & span {
    display: inline-block;
    width: $medium-value;
    height: 12px;
    margin: 0 $tiny-value 0 $small-value;
  }

  & li {
    display: inline;

    &:first-child span {
      background: $alpha-color;
    }

    &:nth-child(2) span {
      background: $beta-color;
    }

    &:nth-child(3) span {
      background: $gamma-color;
    }

    @include media("<small-screen") {
      display: inline-block;
    }
  }

  @include media("<small-screen") {
    text-align: left;
  }
}

.skills__icon {
  position: relative;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;

  & #intermediate {
    height: 0;
    transition: height 1s 1.5s ease;
  }

  & #beginner {
    height: 0;
    transition: height 1s 2.5s ease;
  }

  & #expert {
    height: 0;
    transition: height 1s 0.5s ease;
  }

  &.skills__icon--animate {
    opacity: 1;

    & #intermediate {
      height: 31.84px;
    }

    & #beginner {
      height: 9.78px;
    }

    & #expert {
      height: 41.17px;
    }

    & ~ .skills__connection {
      opacity: 1;
    }

    & ~ .skills__list {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @include media("<medium-screen") {
    width: 80%;
    margin-bottom: $large-value;
  }
}

.skills__list {
  position: absolute;
  width: 20%;
  padding: $small-value;
  color: #fff;
  opacity: 0;
  z-index: 2;

  &:nth-child(2) {
    top: 0;
    left: 0;
    background: $alpha-color;
    transform: translateX(-2rem);
    transition: all 0.3s 1.5s ease;
  }

  &:nth-child(3) {
    top: 50%;
    right: 0;
    background: $beta-color;
    transform: translateX(2rem);
    transition: all 0.3s 2.5s ease;
  }

  &:nth-child(4) {
    bottom: 0;
    background: $gamma-color;
    transform: translateX(-2rem);
    transition: all 0.3s 3.5s ease;
  }

  @include media("<medium-screen") {
    &:nth-child(3) {
      top: 40%;
    }

    &:nth-child(4) {
      position: static;
      display: block;
      margin: 0 auto;
    }
  }

  @include media("<small-screen") {
    position: static;
    display: block;
    width: 80%;
    margin: $small-value auto;
  }
}

.skills__connection {
  border-style: solid;
  z-index: 1;
  opacity: 0;

  &.skills__connection--expert {
    border-color: $alpha-color;
    transition: opacity 0.3s 1.5s ease;
  }

  &.skills__connection--intermediate {
    border-color: $beta-color;
    transition: opacity 0.3s 2.5s ease;
  }

  &.skills__connection--beginner {
    border-color: $gamma-color;
    transition: opacity 0.3s 3.5s ease;
  }

  @include media("<small-screen") {
    display: none;
  }
}
