a {
  text-decoration: none;
  color: $alpha-color;
  transition: color 0.3s ease;
}

a:focus, a:hover {
  color: $omega-color;
}

picture {
  display: block;
}

/**
* Wrapper
*/
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding: $spacing-unit;
  @extend %clearfix;

  // @include media-query($on-laptop) {
  //   max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  //   max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  //   padding-right: $spacing-unit / 2;
  //   padding-left: $spacing-unit / 2;
  // }
}



/**
* Clearfix
*/
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.site__altbg {
  background: $alpha-background;

  & .button--primary:before {
    background-color: $alpha-background;
  }
}

.site__lead {
  width: 80%;
  margin: 20px auto;
  font-weight: 300;
  font-size: $h3-size;
  text-align: center;

  @include media("<small-screen") {
    width: 100%;
  }
}

.site__browserupgrade {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid $alpha-color;
  text-align: center;
  margin: 0;
  font-size: 0.75em;
  z-index: 999;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

  .infinite {
    animation-iteration-count: infinite;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes scrollBounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0) rotate(-45deg);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(-12px, -12px, 0) rotate(-45deg);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(-5px, -5px, 0) rotate(-45deg);
  }

  90% {
    transform: translate3d(-2px,-2px,0) rotate(-45deg);
  }
}

.fade-in-right {
  animation-name: fadeInRight;
}

.fade-out {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fade-in-up {
  animation-name: fadeInUp;
}

.site__scroll {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 24px auto;
  transform: rotate(45deg);
  border: 2px solid #fff;

  &:before {
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -4px;
    transform: rotate(-45deg);
    animation: scrollBounce 2s infinite;
  }

  &.site__scroll--black {
    border: 2px solid $base-color;

    &:before {
      border-top: 12px solid $base-color;
    }
  }

  &.site__scroll--up {
    position: static;
    transform: rotate(225deg);
  }

  &.site__scroll--right {
    transform: rotate(135deg);
  }

  &.site__scroll--left {
    transform: rotate(-45deg);
  }
}

.testimonial__item {
  width: 70%;
  margin: 0 auto;
  padding: $medium-value;
  background: url(../img/noisy-texture.png), $gradient;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  @include media("<small-screen") {
    width: 100%;
  }
}

.testimonial__img {
  display: inline-block;
  width: 100px;
  height: 100px;

  & img {
    border-radius: 50%;
  }
}

.testimonial__quote {
  font-weight: 300;

  &:before {
    color: rgba(255,255,255,0.5);

    @include media("<small-screen") {
      top: -20px;
    }
  }

  @include media("<small-screen") {
    padding-left: 0;
  }
}

.site__alert {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  border: 2px solid;
  border-image: linear-gradient(135deg, rgba(235, 99, 97, 1) 0%,rgba(103, 58, 93, 1) 100%) 1;
  padding: $small-value $medium-value $small-value $large-plus-value;

  & p {
    margin: 0;
  }

  &.site__alert--success {

    & .site__alert-indicator {
      background: #419C7E;
    }
  }
}

.site__alert-indicator {
  position: absolute;
  left:$medium-value;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: indicator-pulse 2s infinite;
  transform: translateY(-50%);
}

@keyframes indicator-pulse {
  0% {
    box-shadow: 0 0 0 0 transparentize($gamma-color, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
