.blog__content {
  margin: 24px 0;
}

.blog__item {
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding:$medium-plus-value;
  margin-bottom: $medium-value;
  background: url('../img/noisy-texture.png'), $gradient;
  color: #fff;
  will-change: transform, box-shadow;
  text-overflow: ellipsis;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

    & .blog__excerpt {
      opacity: 1;
      transform: translateY(0);
    }

    & .blog__dot {
      transform: translateY(0);
    }
  }

  &.blog__item--full {
    background-size: cover!important;

    & .blog__title {
      opacity: 0;
      text-transform: uppercase;
      text-align: left;
      transform: translateX(-40px);

      @include media("<small-screen") {
        opacity: 1;
        transform: translateX(0);
        margin-top: 0px;
      }
    }

    & .blog__excerpt {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #fff;
      color: $base-color;
      text-align: left;
      transform: none;
    }

    & .blog__dot {
      background: $base-color;
    }

    &:hover {
      & .blog__title, & .blog__excerpt {
        opacity: 1;
      }

      & .blog__title {
        transform: translateX(0px);
      }

      & .blog__excerpt {
        transition: all 0.3s 0.4s ease;
      }

      & .blog__dot {

        &:first-child {
          transition: transform 0.3s 0.4s ease-in-out;
        }

        &:nth-child(2) {
          transition: transform 0.3s 0.5s ease-in-out;
        }

        &:last-child {
          transition: transform 0.3s 0.6s ease-in-out;
        }
      }
    }

    @include media("<small-screen") {
      height: 300px;
    }
  }

  @include media("<small-screen") {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    padding: $small-value;
  }
}

.blog__title {
  text-align: center;
  text-transform: none;
  font-size: $h3-size;
  transition: all 0.3s ease;
}

.blog__excerpt {
  text-align: center;
  padding: $small-value $medium-value;
  font-size: $base-font-size - 0.2;
  @extend %clearfix;
  opacity: 0;
  transform: translateY(110%);
  transition: all 0.3s ease;

  @include media("<small-screen") {
    opacity: 1;
    transform: none;
    padding: $small-value;
  }
}

.blog__lead {
  float: left;
  width: 90%;
  margin-bottom: 0;
}

.blog__dots {
  float: right;
  display: inline-block;
  width: 4px;
  height: 20px;
  margin-top: $small-value;
}

.blog__dot {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 4px;
  transform: translateY(10px);

  &:first-child {
    transition: transform 0.2s 0.1s ease-in-out;
  }

  &:nth-child(2) {
    transition: transform 0.2s 0.2s ease-in-out;
  }

  &:last-child {
    transition: transform 0.2s 0.3s ease-in-out;
  }
}

.blog__date {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: $base-font-size - 0.4;
  font-weight: 300;
  font-style: italic;
}

.blog__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.blog__pagination {
  text-align: center;
}

.header__backlink {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(calc(-50% - 24px));
  font-weight: 300;
  color: #fff;
  transition: transform 0.3s ease;

  & span {
    display: inline-block;
    transform: rotate(180deg);
    margin-right: $medium-value;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  & svg {
    width: 24px;
  }

  &:hover {
    color: #fff;
    transform: translateX(-50%);

    & span {
      opacity: 1;
    }
  }

  @include media("<small-screen") {
    width: 100%;
    text-align: center;
  }
}

.post__container {

  @include media("<large-screen") {
    & .project__navigation {
      display: none;
    }
  }
}

.post__header {
  text-align: center;
}

.post__meta {
  color: $grey-color;
  font-style: italic;
}

.post__readtime {
  color: $grey-color;
  font-style: italic;

  span svg {
    height: 18px;
    fill: $grey-color;
  }
}

.post__content {
  width: 80%;
  margin: 0 auto;
  padding: $medium-value 0;

  @include media("<small-screen") {
    width: auto;
    margin: 0;
  }
}

.post__hero {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post__caption {
  margin-top: 0;
  color: $grey-color;
  font-size: $h6-size;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.post__img {
  margin-top: $medium-value;
}
