.button {
  display: inline-block;
	background-color: $brand-color;
	border: solid 2px $brand-color;
  border-radius: 100px;
	color: #fff;
	position: relative;
	transition: all 0.2s ease-in-out;
  padding: 15px 30px;
  font-size: $button-font-size;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  overflow: hidden;

  & span {
    position:relative;
    z-index: 2;
  }

  &:before {
    content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	height: 0px;
  	width: 0px;
  	border-radius: 50%;
  	transition: all .2s ease-in-out;
  }

  &:hover:before {
    height: 150px;
    width: 400px;
    border-radius: 0;
  }

  &.button--primary {
    padding: 15px 40px;

    &:before {
      background-color: $background-color;
    }

    &:hover {
      color: $brand-color;
    }
  }

  &.button--ghost {
    background-color: transparent;
  	border: solid 2px #fff;

    &:before {
      background-color: #fff;
    }

    &:hover {
      color: $text-color;
    }
  }
}


.button__caption {
  font-size: $base-font-size - 6;
  color: #fff;
  font-style: italic;
}
