.button {
  display: inline-block;
	background-color: $alpha-color;
	border: solid 2px $alpha-color;
  border-radius: 100px;
	color: #fff;
	position: relative;
	transition: all 0.2s ease-in-out;
  padding: 15px 30px;
  font-size: $button-size;
  font-family: $font-stack-headings;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;

  & span {
    position:relative;
    z-index: 2;
  }

  &:before {
    content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	height: 0px;
  	width: 0px;
  	border-radius: 50%;
  	transition: all .2s ease-in-out;
  }

  &:hover:before {
    height: 150px;
    width: 400px;
    border-radius: 0;
  }

  &.button--primary {
    padding: 15px 40px;

    &:before {
      background-color: $base-background;
    }

    &:hover {
      color: $alpha-color;
    }
  }

  &.button--ghost {
    background-color: transparent;
  	border: solid 2px #fff;

    &:before {
      background-color: #fff;
    }

    &:hover {
      color: $base-color;
    }
  }
}

.button__caption {
  font-size: $base-font-size - 0.6;
  color: #fff;
  font-style: italic;
}

.site__altbg .button--primary:before {
  background-color: $alpha-background;
}
