.page__content {
  margin-top: 450px;
  z-index: 1;
  background: $base-background;
  padding-bottom: $medium-plus-value;

  &.page__content--full {
    margin-top: 100vh;
  }
}
/**
* Site header
*/
.header {
  min-height: 450px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  .wrapper {
    padding: 0;
  }
}

.header__hero {
  position: relative;
  width: 100%;
  height: 450px;
  z-index: -1;
  background-image: url('../img/noisy-texture.png'), $gradient ;
  overflow: hidden;

  &.header__hero--full {
    height: 100vh;
  }
}

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  color: #fff;
  font-size: 56px;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;

  &.type-it {
    top: 20%;
  }

  .header__title--cursor {
    font-style: normal;
  }
}

.header__img {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  top: 40%;
  background: url('../img/hero-img.svg') no-repeat center center;
}

.header__bubble {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  opacity: 0;
  will-change: transform;

  &.header__bubble--small {
    width: 8px;
    height: 8px;

    &#bubble1 {
      left: 5%;
      top: -70%;
      animation: BubbleAnimation 30s linear 0s infinite;
    }

    &#bubble2 {
      left: 12%;
      top: -20%;
      animation: BubbleAnimation 30s linear 2s infinite;
    }

    &#bubble3 {
      left: 23%;
      top: -40%;
      animation: BubbleAnimation 30s linear 1s infinite;
    }

    &#bubble4 {
      left: 36%;
      animation: BubbleAnimation 30s linear 4s infinite;
    }

    &#bubble5 {
      left: 68%;
      top: -50%;
      animation: BubbleAnimation 30s linear 2.4s infinite;
    }

    &#bubble6 {
      left: 77%;
      animation: BubbleAnimation 30s linear 2s infinite;
    }

    &#bubble7 {
      left: 82%;
      animation: BubbleAnimation 30s linear 6s infinite;
    }

    &#bubble8 {
      left: 85%;
      top: -30%;
      animation: BubbleAnimation 30s linear 0.8s infinite;
    }

    &#bubble9 {
      left: 8%;
      top: -80%;
      animation: BubbleAnimation 30s linear 4s infinite;
    }

    &#bubble10 {
      left: 17%;
      animation: BubbleAnimation 30s linear 8s infinite;
    }

    &#bubble11 {
      left: 28%;
      animation: BubbleAnimation 30s linear 15s infinite;
    }

    &#bubble12 {
      left: 36%;
      animation: BubbleAnimation 30s linear 20s infinite;
    }

    &#bubble13 {
      left: 42%;
      animation: BubbleAnimation 30s linear 19s infinite;
    }

    &#bubble14 {
      left: 60%;
      animation: BubbleAnimation 30s linear 9s infinite;
    }

    &#bubble15 {
      left: 72%;
      animation: BubbleAnimation 30s linear 17s infinite;
    }

    &#bubble16 {
      left: 94%;
      animation: BubbleAnimation 30s linear 23s infinite;
    }
  }

  &.header__bubble--medium {
    width: 16px;
    height: 16px;

    &#bubble17 {
      left: 4%;
      animation: BubbleAnimation 20s linear 1s infinite;
    }
    &#bubble18 {
      left: 14%;
      animation: BubbleAnimation 20s linear 4s infinite;
    }
    &#bubble19 {
      left: 30%;
      animation: BubbleAnimation 20s linear 6s infinite;
    }
    &#bubble20 {
      left: 46%;
      animation: BubbleAnimation 20s linear 2.5s infinite;
    }
    &#bubble21 {
      left: 67%;
      animation: BubbleAnimation 20s linear 10s infinite;
    }
    &#bubble22 {
      left: 75%;
      animation: BubbleAnimation 20s linear 6s infinite;
    }
    &#bubble23 {
      left: 80%;
      animation: BubbleAnimation 20s linear 15s infinite;
    }
    &#bubble24 {
      left: 90%;
      animation: BubbleAnimation 20s linear 6.4s infinite;
    }
  }

  &.header__bubble--large {
    width: 24px;
    height: 24px;

    &#bubble25 {
      left: 30%;
      animation: BubbleAnimation 10s linear 7s infinite;
    }

    &#bubble26 {
      left: 70%;
      animation: BubbleAnimation 10s linear 1s infinite;
    }
  }
}

@keyframes BubbleAnimation {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.nav {
  height: 56px;
  line-height: 56px;
  color: $base-color;

  &.nav--transparent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    color: #fff;

  }

  &.nav-mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 6;

    &.nav-mobile--is-visible {
      pointer-events: auto;

      &::before {
        opacity: 1;
      }

      & .nav-mobile__container {
        transform: none;
      }

      &.nav-mobile--animatable .nav-mobile__container {
        transition: transform 0.33s cubic-bezier(0,0,0.3,1);
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.4);
      opacity: 0;
      will-change: opacity;
      transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    }

    & .nav-mobile__container {
      position: relative;
      width: 90%;
      max-width: 400px;
      background: $beta-background;
      height: 100%;
      box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
      transform: translateX(-102%);
      display: flex;
      flex-direction: column;
      will-change: transform;
    }

    &.nav-mobile--animatable .nav-mobile__container {
      transition: transform 0.13s cubic-bezier(0,0,0.3,1);
    }

    & .nav-mobile__hide {
      position: absolute;
      left: $medium-value;
      top: $medium-value;
      background: $gradient;
      border: none;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      transform: scale(-1, 1);
      cursor: pointer;

      &:focus {
        outline: none;
      }

      & svg {
        display: block;
        width: 60%;
        margin: auto;
      }
    }

    & .nav-mobile__header {
      height: 200px;
      background: url('./../img/noisy-texture.png'), $gradient;
      color: #FFF;
      display: flex;
      padding: $medium-value;
      align-items: flex-end;
      font-size: $h3-size;
    }

    & .nav-mobile__list {
      padding-top: $medium-value;
      flex: 1;
      list-style: none;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    & .nav-mobile__item {
      line-height: $large-value;
      padding: $small-value $small-plus-value;

      &:hover {
        background: #CCC;
      }

      & .nav-mobile__link {
        display: block;
      }
    }
  }
}

.nav-mobile__show {
  position: fixed;
  top: $medium-value;
  left: $medium-value;
  background: $gradient;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  transform: scale(-1, 1);
  cursor: pointer;
  z-index: 6;

  &:focus {
    outline: none;
  }

  & svg {
    display: block;
    width: 80%;
    margin: auto;
  }
}

.nav__title {
  font-size: $h3-size;
  float: left;
  color: inherit;
}

.nav__list {
  float: right;
  list-style: none;
}

.nav__item {
  display: inline;

  &.nav__item--current .nav__link, &.nav__item--current .nav__link:hover, &.nav__item--current .nav__link:focus {
    color: #d94f5c;
  }

  &.nav__item--current .nav__link:before {
    transition-delay: 0s;
  }

  &.nav__item--current .nav__link:before, &.nav__item--current .nav__link:after {
    transform: scale3d(1, 1, 1);
  }
}


.nav__link {
	position: relative;
	margin: 0 1em;
	padding-right: 0;
	padding-left: 0;
	color: #fff;
	transition: color 0.4s;

  &:hover, &:focus {
    color: #fff;
  }

  &:before {
    background: #fff;
  	transition-delay: 0.4s;
  }

  &:after {
    background: $alpha-color;
  }

  &:before, &:after {
    content: '';
  	position: absolute;
  	bottom: -12px;
  	left: 0;
  	width: 100%;
  	height: 3px;
    will-change: transform;
  	transform: scale3d(0, 1, 1);
  	transform-origin: center left;
  	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &:hover::before, &:focus::before {
  	transform: scale3d(1, 1, 1);
  	transition-delay: 0s;
  }
}


.site__transition {
  position: relative;
  padding: 120px 0 110px;
  overflow: hidden;

  & .site__transition__icon {
    min-width: 20%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
  }

  & #magnifying-glass {
    animation: cv-icon-animation 2s infinite alternate ease-in-out;
  }

  &.site__transition--cv-download {
    background: url(../img/noisy-texture.png), $complementary-gradient;
    background-size: auto, 100%;
    background-attachment: scroll;
  }
}

@keyframes cv-icon-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20%);
  }
}

@keyframes cv-icon-reveal-animation {
  from {
    opacity: 0;
    transform: translate3d(100%, -50%, 0);
  }

  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.cv-icon-animation {
  animation-name: cv-icon-reveal-animation;
}

.footer__container {
  background: #000;
  color: #fff;
}
