/**
* Site header
*/
.header {
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    padding: 0;
  }
}

.header__hero {
  position: relative;
  width: 100%;
  height: 450px;
  z-index: -1;
  background-image: url('../img/noisy-texture.png'), $gradient ;
  overflow: hidden;

  &.header__hero--full {
    height: 100vh;
  }
}

.header__title {
  position: absolute;
  color: #fff;
  font-size: 56px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &.type-it {
    top: 20%;
  }

  .header__title--cursor {
    font-style: normal;
  }
}

.header__img {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  top: 40%;
  background: url('../img/hero-img.svg') no-repeat center center;
}

.header__bubble {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  opacity: 0;

  &.header__bubble--small {
    width: 8px;
    height: 8px;

    &#bubble1 {
      left: 5%;
      top: -70%;
      animation: BubbleAnimation 30s linear 0s infinite;
    }

    &#bubble2 {
      left: 12%;
      top: -20%;
      animation: BubbleAnimation 30s linear 2s infinite;
    }

    &#bubble3 {
      left: 23%;
      top: -40%;
      animation: BubbleAnimation 30s linear 1s infinite;
    }

    &#bubble4 {
      left: 36%;
      animation: BubbleAnimation 30s linear 4s infinite;
    }

    &#bubble5 {
      left: 68%;
      top: -50%;
      animation: BubbleAnimation 30s linear 2.4s infinite;
    }

    &#bubble6 {
      left: 77%;
      animation: BubbleAnimation 30s linear 2s infinite;
    }

    &#bubble7 {
      left: 82%;
      animation: BubbleAnimation 30s linear 6s infinite;
    }

    &#bubble8 {
      left: 85%;
      top: -30%;
      animation: BubbleAnimation 30s linear 0.8s infinite;
    }

    &#bubble9 {
      left: 8%;
      top: -80%;
      animation: BubbleAnimation 30s linear 4s infinite;
    }

    &#bubble10 {
      left: 17%;
      animation: BubbleAnimation 30s linear 8s infinite;
    }

    &#bubble11 {
      left: 28%;
      animation: BubbleAnimation 30s linear 15s infinite;
    }

    &#bubble12 {
      left: 36%;
      animation: BubbleAnimation 30s linear 20s infinite;
    }

    &#bubble13 {
      left: 42%;
      animation: BubbleAnimation 30s linear 19s infinite;
    }

    &#bubble14 {
      left: 60%;
      animation: BubbleAnimation 30s linear 9s infinite;
    }

    &#bubble15 {
      left: 72%;
      animation: BubbleAnimation 30s linear 17s infinite;
    }

    &#bubble16 {
      left: 94%;
      animation: BubbleAnimation 30s linear 23s infinite;
    }
  }

  &.header__bubble--medium {
    width: 16px;
    height: 16px;

    &#bubble17 {
      left: 4%;
      animation: BubbleAnimation 20s linear 1s infinite;
    }
    &#bubble18 {
      left: 14%;
      animation: BubbleAnimation 20s linear 4s infinite;
    }
    &#bubble19 {
      left: 30%;
      animation: BubbleAnimation 20s linear 6s infinite;
    }
    &#bubble20 {
      left: 46%;
      animation: BubbleAnimation 20s linear 2.5s infinite;
    }
    &#bubble21 {
      left: 67%;
      animation: BubbleAnimation 20s linear 10s infinite;
    }
    &#bubble22 {
      left: 75%;
      animation: BubbleAnimation 20s linear 6s infinite;
    }
    &#bubble23 {
      left: 80%;
      animation: BubbleAnimation 20s linear 15s infinite;
    }
    &#bubble24 {
      left: 90%;
      animation: BubbleAnimation 20s linear 6.4s infinite;
    }
  }

  &.header__bubble--large {
    width: 24px;
    height: 24px;

    &#bubble25 {
      left: 30%;
      animation: BubbleAnimation 10s linear 7s infinite;
    }

    &#bubble26 {
      left: 70%;
      animation: BubbleAnimation 10s linear 1s infinite;
    }
  }
}

@keyframes BubbleAnimation {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.nav {
  height: 56px;
  line-height: 56px;
  color: $text-color;

  &.nav--transparent {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    color: #fff;

  }
}

.nav__title {
  font-size: 26px;
  float: left;
  color: inherit;
}

.nav__list {
  float: right;
  list-style: none;
}

.nav__item {
  display: inline;

  &.nav__item--current .nav__link, &.nav__item--current .nav__link:hover, &.nav__item--current .nav__link:focus {
    color: #d94f5c;
  }

  &.nav__item--current .nav__link:before {
    transition-delay: 0s;
  }

  &.nav__item--current .nav__link:before, &.nav__item--current .nav__link:after {
    transform: scale3d(1, 1, 1);
  }
}


.nav__link {
	position: relative;
	margin: 0 1em;
	padding-right: 0;
	padding-left: 0;
	color: #fff;
	transition: color 0.4s;

  &:hover, &:focus {
    color: #fff;
  }

  &:before {
    background: #fff;
  	transition-delay: 0.4s;
  }

  &:after {
    background: $brand-color;
  }

  &:before, &:after {
    content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 3px;
  	transform: scale3d(0, 1, 1);
  	transform-origin: center left;
  	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &:hover::before, &:focus::before {
  	transform: scale3d(1, 1, 1);
  	transition-delay: 0s;
  }
}

.site-home-fluid {
  position: absolute;
  padding-left: 30px;
  top: 0;
  right: 0;
}

#portfolio, #blog {
  position: relative;
  height: 100vh;
}

.site__transition {
  background: url('https://unsplash.it/1600/700') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0 110px;
}
/**
* Page content
*/
.page__content {
  z-index: 1;
}

.post__list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post__meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post__link {
  display: block;
  font-size: 24px;
}



/**
* Posts
*/
.post__header {
  margin-bottom: $spacing-unit;
}

.post__title {
  font-size: 42px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post__content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
