---
layout: default
title: Blog
---
<div class="wrapper">
  <h2>Articles</h2>
  <div class="blog__content">
    <div class="grid-2-small-1">
      {% for post in paginator.posts | limit: 1 %}
      <article class="blog__item blog__item--full wow fade-in" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ post.featured-img | prepend: "/img/blog/" | prepend: site.baseurl }}') no-repeat center center;">
        <time class="blog__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        <h3 class="blog__title">{{ post.title }}</h3>
        <div class="blog__excerpt">
          <p class="blog__lead">{{ post.lead }}</p>
          <span class="blog__dots">
            <span class="blog__dot">&nbsp;</span>
            <span class="blog__dot">&nbsp;</span>
            <span class="blog__dot">&nbsp;</span>
          </span>
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="blog__link">&nbsp;</a>
      </article>
      {% endfor %}
      <div>
      {% for post in paginator.posts | offset:1 limit: 2 %}
      <article class="blog__item wow fade-in">
        <time class="blog__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        <h3 class="blog__title">{{ post.title }}</h3>
        <div class="blog__excerpt">
          <p class="blog__lead">{{ post.lead }}</p>
          <span class="blog__dots">
            <span class="blog__dot">&nbsp;</span>
            <span class="blog__dot">&nbsp;</span>
            <span class="blog__dot">&nbsp;</span>
          </span>
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="blog__link">&nbsp;</a>
      </article>
      {% endfor %}
      </div>
    </div>
    <div class="grid-2-small-1">
      <div>
      {% for post in paginator.posts | offset:3 limit: 2 %}
      <article class="blog__item wow fade-in">
        <time class="blog__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        <h3 class="blog__title">{{ post.title }}</h3>
        <div class="blog__excerpt">
          <p class="blog__lead">{{ post.lead }}</p>
          <span class="blog__dots">
            <span class="blog__dot">&nbsp;</span>
            <span class="blog__dot">&nbsp;</span>
            <span class="blog__dot">&nbsp;</span>
          </span>
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="blog__link">&nbsp;</a>
      </article>
      {% endfor %}
      </div>
    </div>
    {% for post in paginator.posts | offset:5 limit: 1 %}
    <article class="blog__item blog__item--full wow fade-in" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ post.featured-img | prepend: "/img/blog/" | prepend: site.baseurl }}') no-repeat center center;">
      <time class="blog__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      <h3 class="blog__title">{{ post.title }}</h3>
      <div class="blog__excerpt">
        <p class="blog__lead">{{ post.lead }}</p>
        <span class="blog__dots">
          <span class="blog__dot">&nbsp;</span>
          <span class="blog__dot">&nbsp;</span>
          <span class="blog__dot">&nbsp;</span>
        </span>
      </div>
      <a href="{{ post.url | prepend: site.baseurl }}" class="blog__link">&nbsp;</a>
    </article>
    {% endfor %}
  </div>
  <!-- Pagination links -->
  <div class="blog__pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace:'//','/' }}" class="post-previous" title="Vers la page précédente">Précédent</a>
    {% endif %}
    <span class="post-page-number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace:'//','/' }}" class="post-next" title="Vers la page suivante">Suivant</a>
    {% endif %}
  </div>

</div>
<script id="dsq-count-scr" src="//jomercier.disqus.com/count.js" async></script>
