<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>
    <!--[if IE 9]>
    <p class="site__browserupgrade">Vous utilisez un <strong>ancien navigateur</strong>. <a href="http://browsehappy.com" target="_blank">Mettez votre navigateur à jour</a> pour une meilleure expérience sur le web !</p>
    <![endif]-->

    <div id="barba__wrapper">
      <div class="barba__container">
        {% include header.html %}
        {% if page.url == '/' %}
        <div id="top" class="page__content page__content--full">
        {% else %}
        <div id="top" class="page__content">
        {% endif %}
          {{ content }}
          {% include footer.html %}
        </div>
      </div>
      <!-- END barba__container -->
    </div>
    <!-- END barba__wrapper -->

  </body>

</html>
