<!DOCTYPE html>
<html id="top" lang="fr">

  {% include head.html %}

  <body>
    <!--[if IE 9]>
    <p class="site__browserupgrade">Vous utilisez un <strong>ancien navigateur</strong>. <a href="http://browsehappy.com" target="_blank">Mettez votre navigateur à jour</a> pour une meilleure expérience sur le web !</p>
    <![endif]-->
    <button class="nav-mobile__show">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="icon-menu" viewBox="0 0 384.97 384.97" xml:space="preserve">
        <g>
          <path d="M12.03,120.303h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03    c-6.641,0-12.03,5.39-12.03,12.03C0,114.913,5.39,120.303,12.03,120.303z" fill="#FFFFFF"/>
          <path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03    S379.58,180.455,372.939,180.455z" fill="#FFFFFF"/>
          <path d="M372.939,264.667H132.333c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h240.606    c6.641,0,12.03-5.39,12.03-12.03C384.97,270.056,379.58,264.667,372.939,264.667z" fill="#FFFFFF"/>
        </g>
      </svg>
    </button>
    <aside class="nav nav-mobile">
      <nav class="nav-mobile__container">
        <button class="nav-mobile__hide">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" viewBox="0 0 371.23 371.23">
          <polygon points="371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 " fill="#FFFFFF"/>
        </svg>
        </button>
        <header class="nav-mobile__header">
          {{ site.title }}
        </header>
        <ul class="nav-mobile__list">
          {% assign current = page.url | downcase | split: '/' %}
          <li class="nav-mobile__item {% if current[1] == 'about' %}nav-mobile__item--current{% endif %}"><a class="nav-mobile__link" href="{{ '/about/' | prepend: site.baseurl }}">À propos</a></li>
          <li class="nav-mobile__item {% if current[1] == 'portfolio' %}nav-mobile__item--current{% endif %}"><a class="nav-mobile__link" href="{{ '/#portfolio' | prepend: site.baseurl }}">Portfolio</a></li>
          <li class="nav-mobile__item {% if current[1] == 'blog' %}nav-mobile__item--current{% endif %}"><a class="nav-mobile__link" href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a></li>
        </ul>
      </nav>
    </aside>
    <div id="barba__wrapper">
      <div class="barba__container">
        {% include header.html %}
        {% if page.url == '/' %}
        <div id="page-start" class="page__content page__content--full">
        {% else %}
        <div id="page-start" class="page__content">
        {% endif %}
          {{ content }}
          <a class="site__scroll site__scroll--black site__scroll--up" href="#top"></a>
        </div>
      </div>
      <!-- END barba__container -->
    </div>
    <!-- END barba__wrapper -->
    {% include footer.html %}

  </body>

</html>
