<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!--[if IE 9]>
    <p class="site__browserupgrade">Vous utilisez un <strong>ancien navigateur</strong>. <a href="http://browsehappy.com" target="_blank">Mettez votre navigateur à jour</a> pour une meilleure expérience sur le web !</p>
    <![endif]-->

    <div id="barba__wrapper">
      <div class="barba__container">
        {% include header.html %}
        <div class="page__content">
            {{ content }}
        </div>
      </div>
      <!-- END barba__container -->
    </div>
    <!-- END barba__wrapper -->
    {% include footer.html %}

  </body>

</html>
