---
layout: default
---
<div class="wrapper">
  <article class="post__container" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post__header">
      <p class="post__meta">
        <span>{{ page.categories }}</span>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}janvier
          {% when '2' %}février
          {% when '3' %}mars
          {% when '4' %}avril
          {% when '5' %}mai
          {% when '6' %}juin
          {% when '7' %}juillet
          {% when '8' %}août
          {% when '9' %}septembre
          {% when '10' %}octobre
          {% when '11' %}novembre
          {% when '12' %}décembre
        {% endcase %}
        {{ page.date | date: "%Y" }}
        </time>{% if page.author %} •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
        {% endif %}
      </p>
    </header>
    <div class="post__content" itemprop="articleBody">
      {{ content }}
    </div>
    <div id="disqus_thread"></div>

    <script>
      var disqus_config = function () {
        this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page.title }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        console.log('disqus config');
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//jomercier.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();

      /* * * Disqus Reset Function * * */
      var reset = function (newIdentifier, newUrl, newTitle, newLanguage) {
        DISQUS.reset({
            reload: true,
            config: function () {
                this.page.identifier = newIdentifier;
                this.page.url = newUrl;
                this.page.title = newTitle;
                this.language = newLanguage;
            }
        });
      };

      reset('{{ page.title }}', '{{ page.url | replace:"index.html","" | prepend: "http://localhost:3000" }}', '{{ page.title }}', 'fr');
    </script>
    <noscript>Veuillez activer Javascript sur votre navigateur afin de voir <a href="https://disqus.com/?ref_noscript" rel="nofollow">les commentaires.</a></noscript>
  </article>
</div>
