---
layout: default
---
{% assign  document = site.portfolio  %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
      {% assign prevcover = prev.cover | remove: '.jpg' | remove: '.png' %}
      {% assign prevcoverext = prev.cover | split: '.' | last %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
      {% assign nextcover = next.cover | remove: '.jpg' | remove: '.png' %}
      {% assign nextcoverext = next.cover | split: '.' | last %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
<div class="site__altbg">
  <div class="wrapper txtcenter">
    <div class="grid-3-small-1">
      <div class="project__info">
        <h3>Client</h3>
        <p>{{ page.client }}</p>
      </div>
      <div class="project__info">
        <h3>Rôle</h3>
        <p>
          {% for role in page.roles %}
          {% if forloop.last %}
            {{ role }}
          {% else %}
            {{ role | append: " / "}}
          {% endif %}
          {% endfor %}
        </p>
      </div>
      <div class="project__info">
        <h3>Date</h3>
        <time datetime="{{ page.date }}">{% assign m = page.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}Janvier
          {% when '2' %}Février
          {% when '3' %}Mars
          {% when '4' %}Avril
          {% when '5' %}Mai
          {% when '6' %}Juin
          {% when '7' %}Juillet
          {% when '8' %}Août
          {% when '9' %}Septembre
          {% when '10' %}Octobre
          {% when '11' %}Novembre
          {% when '12' %}Décembre
        {% endcase %}
        {{ page.date | date: "%Y" }}</time>
      </div>
    </div>
    <p class="site__lead">{{ page.lead }}</p>
    <a class="button button--primary" href="{{ page.website-url }}" target="_blank"><span>Voir le site</span></a>
  </div>
</div>
<div class="wrapper">
  <div class="project__content">
    {% if page.decorative-img %}
    <picture class="project__design-showcase project__design-showcase--image">
      <source srcset="{{ page.decorative-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@1x.webp 1x, {{ page.decorative-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@2x.webp 2x" type="image/webp">
			<source srcset="{{ page.decorative-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@1x.png 1x, {{ page.decorative-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@2x.png 2x">
			<img src="{{ page.decorative-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@1x.png">
    </picture>
    {% endif %}
    {% if page.text and page.text-top-offset %}
      {% for text in page.text %}
        {% assign index = forloop.index0 %}
        <div class="project__design-showcase project__design-showcase--text" style="top: {{ page.text-top-offset[index]}}">
          {{ text }}
        </div>
      {% endfor %}
    {% endif %}
    {% if page.full-img %}
      {% for full-img in page.full-img%}
        {% if page.full-img-shadow %}
        <picture class="project__design-showcase project__design-showcase--main" style="box-shadow: 0 0 5px 2px rgba(0,0,0,.35);">
        {% else %}
        <picture class="project__design-showcase project__design-showcase--main">
        {% endif %}
    			<source srcset="{{ full-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@1x.webp 1x, {{ full-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@2x.webp 2x" type="image/webp">
    			<source srcset="{{ full-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@1x.png 1x, {{ full-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@2x.png 2x">
    			<img src="{{ full-img | prepend: "/img/portfolio/" | prepend: site.baseurl }}@1x.png">
    		</picture>
      {% endfor %}
    {% endif %}

    {% if prevurl %}
    <div class="project__navigation project__navigation--left wow fade-in" data-wow-offset="650" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ prevcover | prepend: "/img/portfolio/covers/" | prepend: site.baseurl | append: "@1x." | append: prevcoverext}}') no-repeat center center;">
      <a href="{{ prevurl | prepend: site.baseurl }}">
        <span class="project__navigation-direction">Précédent / </span>
        <span class="project__navigation-name">{{ prevtitle }}</span>
      </a>
    </div>
    {% endif %}
    {% if nexturl %}
    <div class="project__navigation project__navigation--right wow fade-in" data-wow-offset="650" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ nextcover | prepend: "/img/portfolio/covers/" | prepend: site.baseurl | append: "@1x." | append: nextcoverext}}') no-repeat center center;">
      <a href="{{ nexturl | prepend: site.baseurl }}">
        <span class="project__navigation-direction">Prochain / </span>
        <span class="project__navigation-name">{{ nexttitle }}</span>
      </a>
    </div>
    {% endif %}
  </div>
</div>
